<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきは、世界は救う。</h2>
    <p>世界に広げよう！つぶやきのWa！</p>
    <%= form_tag("/guest_login") do %>
      <input type="submit" class="button" value="ゲストとしてログイン">
    <% end %>
  </div>
</div>